@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* All sites setting*/
*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:rgb(70, 45, 13);
}
strong{
    color: rgb(70, 45, 13);
}
em{
    font-weight: 600;
    font-style: italic;
}

/*Buttons*/
.btn{
    border-radius: 2em;
}
.btn-primary{
    background: chocolate;
    border: none;
    border-radius: 2em;
}
.btn-primary:active{
    background: chocolate !important; 
    border: none !important;
    border-radius: 2em !important;
}
.btn-primary:hover{
    background: #D6E28E;
    color: chocolate;
    border: 1px solid chocolate;
    border-radius: 2em;
}
.btn-outline-primary{
    border-color: rgb(70, 45, 13);
    color: rgb(70, 45, 13);
    border-radius: 2em;
}
.btn-outline-primary:active{
    background-color: #D6E28E !important;
    border-color: rgb(70, 45, 13) !important;
    color: rgb(70, 45, 13) !important;
    border-radius: 2em !important;
}
.btn-outline-primary:hover{
    background: #D6E28E;
    color: rgb(70, 45, 13);
    border: none;
    border-radius: 2em;
}

.btn-outline-secondary{
    border-color: chocolate;
    color: chocolate;
    border-radius: 2em;
}
.btn-outline-secondary:active{
    background-color: #D6E28E !important;
    border-color: rgb(70, 45, 13) !important;
    color: rgb(70, 45, 13) !important;
    border-radius: 2em !important;
}
.btn-outline-secondary:hover{
    background: none;
    color: rgb(70, 45, 13);
    border-color: rgb(70, 45, 13);
    border-radius: 2em;
}
body{
    color: rgb(70, 45, 13);
}

h1{
    color: chocolate;
}
/*Navigation bar*/
.navbar-nav{
     color: rgb(80, 51, 12) !important;
}
.navbar-nav li{
    justify-content: space-around;
    margin: 1em;
}
.dropdown-item:active{
    background-color: #D6E28E !important;
    color: rgb(70, 45, 13);
}
.navbar{
    color: rgb(70, 45, 13);
}


/*Main index pages*/
.img_circle {
    margin: auto;
    width: 100%;
    transition: all 0.5s ease;
}
.img_circle:hover{
    transform: scale(1.1);
}
.wrapper{
    padding-top: 4vw;
    padding-bottom: 4vw;
    margin-bottom: 10vw;
}
.header-img {
    width: 150%;
    margin-left: -12em;
}
/*About pages*/
.w-100{
    width: auto !important;

    height: 60vw;
  }
.carousel-inner > .carousel-item > img{ margin:auto; }
.card-title{
    color: chocolate;
}

/*About pages*/
.table > .table-primary{
    background: #D6E28E !important;
    color: rgb(70, 45, 13);
}